fastapi==0.104.1
uvicorn[standard]==0.24.0
pandas
numpy
httpx
groq
plotly
scikit-learn
prophet
shap
python-multipart==0.0.6
jupyter
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
databases[postgresql]
asyncpg
sqlalchemy==1.4.53
alembic
email-validator
aiosmtplib
slowapi
resend
passlib[bcrypt]==1.7.4
bcrypt==4.0.1